$font-1: 'NeuronAngled-Light', sans-serif;

$color-1: #000;     // .num-pads-c, 
$color-2: #fff;     // .wrapper-c, header h1/spans-c, .expenses-list-bg
$color-3: #262230;  // header-bg, .date-bg, .main-view-bg
$color-4: #e34661;  // .expenses-bg,
$color-5: #98bf7e;  // .incomes-bg,
$color-6: #403d56;  // .add-new-note-bg-hover,
$color-7: #2b2b2b;  // .category/.subcategory-c,
$color-8: #f9f9f9;  // .expenses-view-li.active-bg,
$color-9: #efefef;  // .add-note-view-input-number-bg
$color-10: #c7c7c7; // borders color
$color-11: #f1f1f1; // .add-note-view-input-text-bg
$color-12: #e6e6e6; // .add-note-view-input-active-text-bg