.view {
    position: absolute;
    left: 0;
    top: 12%;
    height: 88%;
    width: 100%;
}

.view-center {
    transform: translate3d(0,0,0);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.view-is-waiting {
    transform: translate3d(100%,0,0);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.view-to-left {
    transform: translate3d(-20%,0,0);
    opacity: 0;
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.view-from-right-to-center {
    transform: translate3d(0,0,0);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

.view-from-center-to-right {
    transform: translate3d(100%,0,0);
    transition: all .3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and ( max-height: 400px ) {
    .view {
        top: 15%;
        height: 85%;
    }
}